<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <link href="static/userpage.css" rel="stylesheet">
  <title>User</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      NewJira
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{greeting}">Tasks</a>
        </li>
      </ul>

      <form th:action="@{/logout}" method="post">
          <input class="but btn btn-primary" type="submit" value="Sign Out"/>
      </form>

    </div>
  </div>
</nav>

<div class="cards">
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Название задачи</h5>
    <p class="card-text">Описание задачи</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Дата создания</li>
    <li class="list-group-item">Дедлайн</li>
    <li class="list-group-item">Текущий статус</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-primary">Изменить статус задачи</a>
  </div>
</div>

</div>

</body>
</html>